<div class="container-fluid vcm-content">
  <div class="row">
    <div class="col vcm-instruction">
        <p><i>Fill text and click <fa-icon [icon]="faMicrophone" class="vcm-bg-microphone"></fa-icon> then read the sentence</i></p>
    </div>
  </div>
  <div class="row">
      <div class="col-1"></div>
      <div class="col vcm-microphone">
        <a (click)="listen()">
          <fa-layers size="4x">
            <fa-icon [icon]="faCircle" class="vcm-bg-microphone"></fa-icon>
            <fa-icon *ngIf="!isListening" [icon]="faMicrophone" [inverse]="true" transform="shrink-6"></fa-icon>
            <fa-icon *ngIf="isListening" [icon]="faPause" [inverse]="true" transform="shrink-6"></fa-icon>
          </fa-layers>
        </a>
      </div>
      <div class="col-1"></div>
      <div class="col vcm-text">
        <form #recordForm="ngForm">
          <textarea [(ngModel)]="record.metadata.text" name="metadata.text" placeholder="Text here..." required></textarea>
        </form>
      </div>
      <div class="col-1"></div>
  </div>
</div>