<nav *ngIf="pages">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': current == 0}">
            <a class="page-link" (click)="change(0)" tabindex="-1"><fa-icon [icon]="faAngleDoubleLeft"></fa-icon></a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': current == 0}">
            <a class="page-link" (click)="change(current - 1)" tabindex="-1"><fa-icon [icon]="faAngleLeft"></fa-icon></a>
        </li>
        <li class="page-item disabled" [ngClass]="{'d-none': current - 2 <= 0 || pages.length < 6}">
            <a class="page-link">...</a>
        </li>
        <ng-template ngFor let-page [ngForOf]="pages" let-i="index">
          <li [ngClass]="{'disabled': current == i, 'd-none': (i < current - 2 && i < pages.length - 5)  || (i > current + 2 && i > 4)}" class="page-item"><a class="page-link" (click)=change(i)>{{i + 1}}</a></li>
        </ng-template>
        <li class="page-item disabled" [ngClass]="{'d-none': current + 2 >= pages.length - 1 || pages.length < 6}">
            <a class="page-link">...</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': current == pages.length - 1}">
            <a class="page-link" (click)="change(current + 1)"><fa-icon [icon]="faAngleRight"></fa-icon></a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': current == pages.length - 1}">
            <a class="page-link" (click)="change(pages.length - 1)"><fa-icon [icon]="faAngleDoubleRight"></fa-icon></a>
        </li>
    </ul>
</nav>
